// Header

.header {
 box-shadow: $bs;
 @include dc(color(primary));

 &__inner {
  display : grid;
  position: relative;
  z-index : 10;
 }

 &__content {
  display              : grid;
  grid-template-columns: 1fr auto;
  gap                  : $spacer;
  align-items          : center;
  align-items          : end;
 }
}

.logo {
 padding-block-start: $spacer;
 height       : 100%;
 width        : min(100%, 250px);
 align-self   : center;
 justify-self : center;
}