// Header

.header {
 @include dc(color(primary));
 box-shadow: $bs;
 // padding-block-end: $spacer;
 
&__inner {
 display        : flex;
 align-items    : flex-end;
 justify-content: space-between;

 position: relative;
 z-index: 10;
}

&__search {
 background-color: color(primary-lighter);
 margin-block-start: 0;
}
}

.logo {
 padding-block: $spacer;
 height       : 100%;
 width        : min(100%, 250px);
}