.sidebarLatest {
 display       : grid;
 gap           : $spacer;
 grid-auto-rows: 90px;

 &__card {
  box-shadow           : $bs;
  display              : grid;
  grid-template-columns: 90px 1fr;
  grid-auto-rows       : 90px;
  gap                  : .5em;
  text-decoration      : none;
  @include dc(color(secondary));
  font-size            : var(--base-font);

  &:hover .sidebarLatest__img img {
   transform: scale(1.1);
  }

  &:hover .sidebarLatest__content {
   color: $clr-accent;
  }
 }

 &__img {
  min-width: 90px;
  width    : 90px;
  position : relative;
  overflow : hidden;

  & img {
   aspect-ratio: 1;
   object-fit  : cover;
   transform   : scale(1);
   transition  : all .3s ease-in-out;
  }
 }

 &__content {
  grid-column          : 2 / 3;
  display              : grid;
  align-items          : center;
  align-items          : start;
  padding-inline-end   : .5em;
  transition           : color .3s ease-in-out;
 }

 &__category {
  color         : $clr-accent;
  font-size     : var(--smallText);
  text-transform: uppercase;
  letter-spacing: $ls;
 }

 &__title {
  margin     : 0;
  font-weight: $fw-m;
  font-size  : var(--h6);

  overflow          : hidden;
  text-overflow     : ellipsis;
  display           : -webkit-inline-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height       : 1.2;
 }

 &__author {
  line-height: 1;
  font-size: var(--smallText);

  & span {
   color     : $neutral-3;
   transition: all 0.3s ease-in-out;
  }

  & i {
   color: $clr-accent;
   font-size: var(--smallText);
  }
 }
}