.search {

 &__form {
  display: flex;
  margin-block: $spacer;
 }

 input[type=text],
 &__button {
  margin       : 0;
  border       : none;
  border-radius: none;
 }

 input[type=text] {
  font-size: var(--base-font);
  border-top-left-radius    : 0;
  border-top-right-radius   : 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius : 0;
  flex: 1;

  &:focus,
  &:focus-within {
   background-color: $neutral-2;
   border-style    : dashed;
   border-width    : 3px;
   border-right    : transparent 1px solid;
  }

  &::placeholder {
   color     : color(accent-lighter);
   opacity   : 1;
   transition: opacity 0.25s linear;
   font-size : var(--h5);
   font-weight: $fw-l;
  }

  &:focus::placeholder,
  &:focus-within::placeholder {
   opacity: 0;
  }
 }

 &__button {
  background-color          : color(accent-lighter);
  color                     : neutral(1);
  padding-inline            : $spacer;
 }
}