.search {

 &__form {
  display: flex;
  margin-block: $spacer;
 }

 input[type=text],
 &__button {
  margin       : 0;
  border       : none;
  border-radius: none;
 }

 input[type=text] {
  color: color(accent-dark);
  letter-spacing: $ls;
  font-size: var(--base-font);
  border-top-left-radius    : 0;
  border-top-right-radius   : 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius : 0;
  flex: 1;
  transition: outline 250ms ease-in-out, background-color 250ms ease-in-out;

  &:focus,
  &:focus-within {
   outline: dashed 3px color(accent-lighter);
   background-color: $neutral-2;
  }

  &::placeholder {
   text-transform: capitalize;
   color     : color(accent-lighter);
   opacity   : 1;
   transition: opacity 0.25s linear;
   font-size : var(--h5);
   font-weight: $fw-l;
  }

  &:focus::placeholder,
  &:focus-within::placeholder {
   opacity: 0;
  }
 }

 &__button {
  background-color          : color(accent-lighter);
  color                     : neutral(1);
  padding-inline            : $spacer;
 }
}