@charset "UTF-8";
/* abstracts */
/* global */
/* reset.scss */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Kevin Powell add */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  /* Kevin Powell Add */
  color-scheme: dark light;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  /* Kevin Powell add the svh */
  min-height: 100svh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Kevin Powell Add */
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  margin-block-end: 1em;
  text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
  }
}
.span {
  grid-column: 1/-1;
}

.text-small {
  font-size: 0.8rem;
  font-weight: 300;
}

.text-danger {
  color: hsl(354deg, 71%, 49%);
  font-weight: 700;
  font-size: 1.25rem;
}

.text-muted {
  background-color: hsl(0deg, 0%, 100%);
  color: rgb(153, 153, 153);
  font-weight: 300;
  line-height: 1.3;
  font-size: 0.9rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.text-italic {
  font-style: italic;
}

inline-text {
  display: inline-block;
}

.cutoff-text {
  --max-lines: 2;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
  position: relative;
  -webkit-box-pack: end;
}
@media only screen and (min-width: 50rem) {
  .cutoff-text {
    --max-lines: 3;
  }
}

.expand-btn {
  appearance: none;
  color: hsl(0deg, 0%, 10%);
  border: 1px solid hsl(0deg, 0%, 85%);
  padding: 0.25em;
  border-radius: 0.25em;
  cursor: pointer;
  margin-top: 1em;
  width: fit-content;
  margin-inline: auto;
}
.expand-btn:hover {
  background-color: hsl(324deg, 51%, 50%);
  color: white;
}
.expand-btn::before {
  content: "Read More";
}
.expand-btn:checked::before {
  content: "Read Less";
}

.cutoff-text:has(+ .expand-btn:checked) {
  max-height: none;
}

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.flow > * + * {
  margin-block-start: 1em;
}

/* Default.scss  */
body {
  background-color: hsl(0deg, 0%, 100%);
  color: #1a1a1a;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

figure {
  border-radius: 7px;
  padding-block: 2em 1em;
}
figure img {
  border-radius: 7px;
  box-shadow: 0 2px 15px rgba(26, 26, 26, 0.15);
  object-fit: cover;
}
figure figcaption {
  color: hsl(0deg, 0%, 40%);
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

a {
  text-decoration: none;
  transition: all 125ms ease;
}
a:hover {
  color: hsl(324deg, 51%, 50%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.15ex;
  text-transform: capitalize;
}

h1 {
  font-size: 3rem;
  font-size: clamp(2.25rem, 4vw, 3rem);
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  font-size: clamp(1.5rem, 4vw, 2.25rem);
}

h3 {
  font-size: 1.75rem;
  font-size: clamp(1.25rem, 3vw, 1.5rem);
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.hero + .wrapper main {
  margin: 0;
  padding: 0;
}

.text-danger {
  color: hsl(324deg, 51%, 50%);
}

.span {
  grid-column: 1/-1;
}

/* Layout.scss */
.wrapper {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, 75rem) minmax(1rem, 1fr);
}
.wrapper > * {
  grid-column: 2/3;
}
.wrapper-narrow {
  --max-wrapper-width: 45rem;
  margin-inline: auto;
  width: min(100%, var(--max-wrapper-width));
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, var(--max-wrapper-width)) minmax(1rem, 1fr);
}
.wrapper-narrow > * {
  grid-column: 2/3;
}

.recipeHeaderLayout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
}
@media only screen and (min-width: 62rem) {
  .recipeHeaderLayout {
    grid-template-columns: 1fr 350px;
  }
}

.recipeDirections__layout {
  display: grid;
  gap: 1em;
}
@media only screen and (min-width: 62rem) {
  .recipeDirections__layout {
    grid-template-columns: 0.75fr 1fr;
    padding-inline: 0;
  }
}

.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 1100px;
  --breakout-max-width: 1300px;
  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );
  display: grid;
  grid-template-columns: [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - var(--padding-inline) * 2, var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout),
.full-width > :not(.breakout) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;
  display: grid;
  grid-template-columns: inherit;
}

img.full-width {
  width: 100%;
  max-height: 45vh;
  object-fit: cover;
}

/* Buttons.scss */
.btn {
  font-size: inherit;
  text-align: center;
  display: inline-block;
  background-color: hsl(0deg, 0%, 94%);
  color: #1a1a1a;
  padding-block: 0.5em;
  padding-inline: 1em;
  border: solid 1px rgba(102, 102, 102, 0.25);
  border-radius: 7px;
  letter-spacing: 0.15ex;
  text-transform: uppercase;
  z-index: 999;
  box-shadow: none;
  transition: all ease-in-out 125ms;
  text-decoration: none;
}
.btn:hover {
  background-color: #bdbdbd;
  color: #1a1a1a;
  cursor: pointer;
  box-shadow: 0 2px 15px rgba(26, 26, 26, 0.15);
}

.btn-findMore {
  padding-inline: 0.25em;
  background-color: hsl(0deg, 0%, 94%);
  color: #1a1a1a;
}
.btn-findMore:hover, .btn-findMore:focus-within {
  background-color: hsl(0deg, 0%, 10%);
  color: white;
}

.btn-cta {
  font-size: 1.25rem;
  color: hsl(0deg, 0%, 10%);
  font-weight: 500;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  padding: 0.25em 0.75em;
  margin-block: 2rem 1rem;
  min-width: 10ch;
  min-height: 2.5rem;
  text-align: center;
  line-height: 1.1;
  transition: 220ms all ease-in-out;
}
.btn-cta:hover, .btn-cta:active {
  background-color: #f3f3f3;
}
.btn-cta:focus {
  outline-style: dashed;
  outline-color: transparent;
  box-shadow: 0 0 0 4px #f7f7f7;
}

.btn-link {
  color: rgb(153, 153, 153);
  text-align: right;
  font-size: 0.9rem;
  font-weight: 300;
  text-decoration: none;
  font-style: italic;
}

.element {
  margin-block: 3em;
}
.element__title {
  line-height: 1.1;
  font-weight: 600;
}
.element__title + p {
  margin-block-start: 0.5em;
}

/* elements */
.hero {
  --hero-height: 65vh;
  height: min(var(--hero-height), 1080px);
  position: relative;
  z-index: -1;
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
}
.hero__content {
  padding-block: 1rem;
  padding-inline: 2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: hsl(0deg, 0%, 100%);
  border-radius: 7px;
  width: 60ch;
  max-width: 50%;
  z-index: 102;
}
.hero__content-title {
  color: hsl(0deg, 0%, 100%);
}
.hero__image {
  width: 100vw;
  height: min(var(--hero-height), 1080px);
}
.hero__image img {
  width: 100vw;
  height: min(var(--hero-height), 1080px);
  object-fit: cover;
  z-index: 100;
}

.collectionSummary {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
  gap: 1em;
}
.collectionSummary__card {
  height: 100%;
  border-radius: 7px;
  box-shadow: 0 2px 15px rgba(26, 26, 26, 0.15);
  padding: 0.5em;
  background-color: hsl(0deg, 0%, 100%);
  color: #1a1a1a;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.collectionSummary__image img {
  aspect-ratio: 3/2;
  object-fit: cover;
}
.collectionSummary__content {
  margin-block-start: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.collectionSummary__title {
  text-wrap: wrap;
  font-weight: 400;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
@media only screen and (min-width: 50rem) {
  .contact-form {
    grid-template-columns: repeat(2, 1fr);
  }
}

::placeholder {
  color: rgba(153, 153, 153, 0.85);
  font-size: 1.2rem;
}

.input-group {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25em;
  align-items: baseline;
}

/* Add styles to 'label' selector */
label {
  font-size: 1.2rem;
}

/* Add styles to 'input' and 'textarea' selectors */
input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding-block: 0.75em;
  padding-inline: 1em;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 7px;
  font-size: inherit;
  transition: all 125ms ease-in-out;
}

/* Add styles to show 'focus' of selector */
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  border: 2px dashed hsl(324deg, 51%, 50%);
  outline: none;
}

.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
  gap: 1em;
}
.gallery-wrapper .gallery-img img {
  border-radius: 7px;
  box-shadow: 0 2px 15px rgba(26, 26, 26, 0.15);
  height: 250px;
  object-fit: cover;
}

.imageElement__image {
  max-height: 450px;
}
.imageElement__image img {
  border-radius: 7px;
  box-shadow: 0 2px 15px rgba(26, 26, 26, 0.15);
  max-height: 450px;
  object-fit: cover;
}

.pageMedia img {
  border-radius: 7px;
  box-shadow: 0 2px 15px rgba(26, 26, 26, 0.15);
  max-height: 450px;
  object-fit: cover;
}

.video-container {
  padding-block: 30px 56.25%;
  position: relative;
  height: 0;
  overflow: hidden;
  object-fit: cover;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#recipeCategoryPageElement {
  padding-block-end: 3em;
}
#recipeCategoryPageElement .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 2em;
}
#recipeCategoryPageElement .card {
  border-radius: 7px;
  box-shadow: 0 2px 15px rgba(26, 26, 26, 0.15);
  padding: 0.5em;
  background-color: hsl(0deg, 0%, 100%);
  color: #1a1a1a;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#recipeCategoryPageElement .card__image img {
  aspect-ratio: 3/2;
  object-fit: cover;
}
#recipeCategoryPageElement .card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#recipeCategoryPageElement .card__title {
  text-wrap: wrap;
  font-weight: 400;
}
#recipeCategoryPageElement .card__author {
  margin-block-start: auto;
  color: rgb(153, 153, 153);
}
#recipeCategoryPageElement .card__author span {
  color: hsl(0deg, 0%, 40%);
  font-weight: 600;
}
#recipeCategoryPageElement .card__author .icon {
  color: hsl(324deg, 51%, 50%);
  font-size: 0.8rem;
}

/* includes */
.search__form {
  display: flex;
}
.search__input, .search__button {
  margin: 0;
  padding: 0.5em 1em;
  border: none;
  border: none;
  border-radius: none;
}
.search__input {
  font-size: 1.2rem;
  padding: 0.25em;
  border-bottom: solid 1px hsl(0deg, 0%, 94%);
  border-left: solid 1px hsl(0deg, 0%, 94%);
  border-top: solid 1px hsl(0deg, 0%, 94%);
  box-shadow: 0 2px 15px rgba(26, 26, 26, 0.15);
  flex: 1;
}
.search__input::placeholder {
  color: hsl(324deg, 51%, 50%);
  opacity: 0.5;
  transition: opacity 0.25s linear;
  font-size: 1.5rem;
}
.search__input:focus::placeholder {
  opacity: 0;
}
.search__button {
  background-color: hsl(324deg, 51%, 50%);
  color: white;
  box-shadow: 0 2px 15px rgba(26, 26, 26, 0.15);
}

.header {
  padding-inline: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}
.header-wrapper {
  background-color: hsl(0deg, 0%, 94%);
  color: #1a1a1a;
  border-bottom: solid 5px hsl(324deg, 51%, 50%);
}

.logo {
  padding-block: 1em;
  height: 100%;
  width: min(100%, 250px);
}

.toggle {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.toggle-label-hamburger {
  margin: 0;
  cursor: pointer;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;
  width: 3rem;
}
@media only screen and (min-width: 50rem) {
  .toggle-label-hamburger {
    display: none;
  }
}
.toggle-label-hamburger span,
.toggle-label-hamburger span::before,
.toggle-label-hamburger span::after {
  width: calc(3rem / 2);
  height: 4px;
  border-radius: 7px;
  background-color: hsl(0deg, 0%, 10%);
  color: white;
  position: relative;
}
.toggle-label-hamburger span::before,
.toggle-label-hamburger span::after {
  content: "";
  position: absolute;
  transform: rotate(0deg);
  transition: transform 125ms ease;
}
.toggle-label-hamburger span::before {
  top: 10px;
}
.toggle-label-hamburger span::after {
  top: -10px;
}

/* Toggle States */
.toggle:checked ~ .subnav {
  transform: scaleY(1);
  opacity: 1;
}

.toggle:checked ~ .nav {
  transform: scaleY(1);
  opacity: 1;
  min-height: calc(100vh - 60px);
}

.toggle:checked ~ .toggle-label-hamburger span {
  background: transparent;
}

.toggle:checked ~ .toggle-label-hamburger span::before {
  transform: rotate(135deg);
  top: 0px;
}

.toggle:checked ~ .toggle-label-hamburger span::after {
  transform: rotate(-135deg);
  top: 0px;
}

.nav {
  white-space: nowrap;
  background-color: hsl(0deg, 0%, 94%);
  color: #1a1a1a;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 9;
  transform: scaleY(0);
  opacity: 0;
  transition: transform 0.2s ease, opacity 250ms ease-out;
  transform-origin: top;
}
@media only screen and (min-width: 50rem) {
  .nav {
    flex-flow: row nowrap;
    transform: scaleY(1);
    opacity: 1;
    position: static;
    width: auto;
  }
}
.nav-link {
  outline: none;
  color: inherit;
  text-transform: uppercase;
  padding-inline: 1em;
  padding-block: 1em;
  letter-spacing: 0.15ex;
  position: relative;
  display: block;
  transition: all 125ms;
}
.nav-link:hover, .nav-link:focus {
  background-color: hsl(324deg, 51%, 50%);
  color: white;
}

.nav-link:has(> .toggle-label) {
  padding-block: 0;
}
@media screen and (min-width: 991px) {
  .nav-link:has(> .toggle-label) {
    padding-block: 1em;
  }
}

.toggle-label {
  cursor: pointer;
  font-size: inherit;
  padding-inline-end: 0.5em;
  padding-block: 1em;
  position: relative;
  display: block;
}
.toggle-label::after {
  content: "▼";
  font-size: 0.8rem;
  position: relative;
  top: -1px;
  right: -10px;
}
@media screen and (min-width: 991px) {
  .toggle-label {
    display: inline;
  }
}

.subnav {
  background-color: #f0f0f0;
  color: #1a1a1a;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  display: grid;
  justify-content: center;
  text-align: center;
  justify-content: stretch;
  transform: scaleY(0);
  opacity: 0;
  transition: transform 125ms ease, opacity 250ms ease-out;
  transform-origin: top;
}
@media screen and (min-width: 991px) {
  .subnav {
    right: auto;
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.15);
  }
}
.subnav-link {
  width: 100%;
  padding-inline: 1rem;
  line-height: 2.5em;
  color: hsl(0deg, 0%, 10%);
  font-weight: 300;
  letter-spacing: 0.15ex;
  transition: all 125ms;
}
@media screen and (min-width: 991px) {
  .subnav-link {
    border-bottom: 1px solid hsl(0deg, 0%, 10%);
    padding-inline: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2em;
    align-items: center;
    justify-content: center;
  }
}
.subnav-link:hover, .subnav-link:focus {
  background-color: hsl(324deg, 51%, 50%);
  color: white;
}

.pagination {
  margin-block: 2em;
  padding-block: 1em;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination .page-link {
  background-color: hsl(324deg, 51%, 50%);
  color: white;
  border-top: solid 2px hsl(0deg, 0%, 100%);
  border-bottom: solid 2px hsl(0deg, 0%, 100%);
  border-right: solid 2px hsl(0deg, 0%, 100%);
  transition: background-color 125ms;
}
.pagination .page-link:hover, .pagination .page-link:focus-within {
  background-color: #3ec172;
  color: white;
}
.pagination .page-link:first-child {
  border-left: solid 2px hsl(0deg, 0%, 100%);
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}
.pagination .page-link:last-child {
  border-right: solid 2px hsl(0deg, 0%, 100%);
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}
.pagination .page-link.disabled {
  color: rgb(153, 153, 153);
  cursor: normal;
  pointer-events: none;
}
.pagination .page-link.disabled:hover, .pagination .page-link.disabled:focus-within {
  background-color: hsl(324deg, 51%, 50%);
  color: white;
  color: rgb(153, 153, 153);
}
.pagination a {
  padding: 0.5em;
  color: inherit;
  display: block;
}

/* footer.scss */
.footer {
  margin-block-start: auto;
  padding-block-start: 1em;
  background-color: hsl(0deg, 0%, 94%);
  color: #1a1a1a;
  font-size: 0.9rem;
}
.footer a {
  transition: all 125ms ease;
}
.footer a:hover, .footer a:focus {
  color: hsl(324deg, 51%, 50%);
}
.footer ul {
  list-style: none;
}
.footer .footer1 {
  padding-block: 2em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
}
@media only screen and (min-width: 50rem) {
  .footer .footer1 {
    grid-template-columns: auto 1fr auto auto;
  }
}
.footer .footer1 h5 {
  margin-block-end: 1em;
  font-size: 1.2em;
}
.footer .footer1 .footer-social .social-icon {
  padding-block: 0.25em;
  padding-inline: 0.5em;
}
.footer .footer1 .footer-address * + * {
  margin-block-start: 1em;
}
.footer .footer2 {
  padding-block: 1em;
  margin-block-start: 1em;
  background-color: #bdbdbd;
  color: #1a1a1a;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.footer .footer2 p {
  margin: 0;
  font-size: 0.8em;
  font-weight: 300;
}

.sidebarLatest {
  padding-block-end: 2em;
  display: grid;
  grid-auto-rows: 90px;
  gap: 1em;
}
.sidebarLatest__card {
  outline: solid 1px hsl(0deg, 0%, 94%);
  box-shadow: 0 2px 15px rgba(26, 26, 26, 0.15);
  display: flex;
}
.sidebarLatest__img {
  aspect-ratio: 1/1;
}
.sidebarLatest__img img {
  object-fit: cover;
  width: 90px;
  height: 90px;
}
.sidebarLatest__content {
  padding-inline: 0.5em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sidebarLatest__category {
  color: hsl(324deg, 51%, 50%);
  text-transform: uppercase;
  letter-spacing: 0.15ex;
  font-size: 0.8rem;
}
.sidebarLatest__title {
  font-size: 1.1rem;
  line-height: 1;
  text-wrap: wrap;
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.15ex;
}
.sidebarLatest__title a {
  font-weight: 400;
  text-decoration: none;
  color: hsl(0deg, 0%, 10%);
  transition: all 0.3s ease-in-out;
}
.sidebarLatest__title a:hover {
  background-color: transparent;
  text-decoration: none;
  outline: 0 none;
  color: hsl(324deg, 51%, 50%);
}
.sidebarLatest__author {
  margin-block-start: auto;
  padding-block-end: 5px;
  font-size: 0.8rem;
  color: rgb(153, 153, 153);
}
.sidebarLatest__author span {
  color: hsl(0deg, 0%, 40%);
  font-weight: 600;
}

/* pages */
.single-recipe .category-name {
  color: hsl(324deg, 51%, 50%);
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.15ex;
}
.single-recipe .recipe-title {
  color: hsl(0deg, 0%, 10%);
  line-height: 1.1;
}
.single-recipe .entry-meta {
  color: hsl(0deg, 0%, 94%);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.single-recipe .entry-meta__icon {
  color: hsl(324deg, 51%, 50%);
}
.single-recipe .single-meta {
  color: rgb(153, 153, 153);
  font-size: 0.9rem;
  display: inline-block;
  margin-right: 0.9rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
}
.single-recipe .single-meta span {
  color: hsl(0deg, 0%, 40%);
  font-weight: 400;
}
.single-recipe .recipe-figure img {
  aspect-ratio: 16/9;
  object-fit: cover;
}
.single-recipe .feature-details {
  color: hsl(0deg, 0%, 40%);
  font-weight: 400;
  margin-block-end: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}
.single-recipe .feature-details__detail {
  line-height: 1.1;
}
.single-recipe .feature-details__title {
  text-transform: uppercase;
  font-weight: 600;
  color: hsl(0deg, 0%, 10%);
}
.single-recipe .feature-details__icon {
  padding-block: 0.75em;
  padding-inline: 0.25em;
  background-color: hsl(0deg, 0%, 94%);
  display: flex;
  flex: 1;
  gap: 1em;
  align-items: center;
  justify-content: center;
}
.single-recipe .feature-details__icon .fas {
  font-size: 1.5rem;
  color: rgb(153, 153, 153);
}

.sidebar {
  display: none;
}
@media only screen and (min-width: 62rem) {
  .sidebar {
    display: block;
  }
}
.sidebar__heading {
  margin-block: 1em;
  border-bottom: 1px solid hsl(0deg, 0%, 94%);
}
.sidebar__title {
  color: hsl(0deg, 0%, 40%);
  margin-bottom: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.15ex;
}

.sidebarFindMore {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
}

.recipeDirections__layout {
  padding-block-end: 4em;
}
.recipeDirections__layout > * ul li,
.recipeDirections__layout > * ol li {
  list-style: none;
  padding-block: 0.5em;
  padding-inline: 0.5em;
  line-height: 1.3;
  font-size: 1.1rem;
  display: grid;
  gap: 0.5em;
  grid-template-columns: auto 1fr;
  align-items: start;
}
.recipeDirections__layout > * ul li:nth-child(odd),
.recipeDirections__layout > * ol li:nth-child(odd) {
  background-color: hsl(0deg, 0%, 94%);
}
.recipeDirections__layout > * ul li::before,
.recipeDirections__layout > * ol li::before {
  color: hsl(324deg, 51%, 50%);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f35a";
}
.recipeDirections__layout > * ol li {
  counter-increment: steps;
}
.recipeDirections__layout > * ol li::before {
  margin-block-start: 0.5em;
  content: counter(steps);
  font-size: 0.8rem;
  background-color: hsl(324deg, 51%, 50%);
  color: hsl(0deg, 0%, 100%);
  min-width: 2.5em;
  line-height: 2.5em;
  border-radius: 1rem;
  text-align: center;
}
.recipeDirections__layout > * ul,
.recipeDirections__layout > * ol {
  margin-block-start: 0.25em;
  list-style: none;
}
.recipeDirections__title {
  color: hsl(0deg, 0%, 10%);
  line-height: 1.2;
  margin-block: 1rem 0;
  font-family: "Hind", sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
}

.ingredients,
.method {
  background-color: hsl(0deg, 0%, 100%);
}
.ingredients h3,
.method h3 {
  color: hsl(0deg, 0%, 10%);
  border-bottom: solid hsl(0deg, 0%, 94%) 1px;
  line-height: 1.2;
  margin-block: 1.1em 0.5em;
  padding-block-end: 0.5em;
  font-family: "Hind", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: capitalize;
}
.ingredients p,
.method p {
  margin-inline: 0.25em;
  padding: 0.5rem;
  line-height: 1.4;
  font-size: 1rem;
}

.recipeStory {
  display: block;
}
.recipeStory__title {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=login.css.map */
