/* Default.scss  */

body {
 font-family: $ff-sans;
 font-size  : var(--base-font);
 line-height: 1.5;

 display   : flex;
 flex-flow : column nowrap;
 overflow-x: hidden;
}

::selection {
 @include dc(color(accent));
}

a:not([class]) {
 text-decoration: none;
 outline        : none;
 transition     : outline 250ms ease-in;


 &:hover,
 &:focus-within {
  outline: dashed 2px color(accent);
 }
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family   : $ff-serif;
 font-weight   : 500;
 line-height   : 1.125;
 letter-spacing: $ls;
 text-transform: capitalize;

 border-bottom: solid 1px $clr-accent;
 padding-block-end: .25em;
 margin-block-end: .25em;
 display: inline-block;
 padding-inline-end: calc($spacer * 1);
}

h1 {
 font-size: var(--h1);
}

h2 {
 font-size: var(--h2);
}

h3 {
 font-size: var(--h3);
}

h4 {
 font-size: var(--h4);
}

h5 {
 font-size: var(--h5);
}

h6 {
 font-size: var(--h6);
}

img {
 width  : 100%;
 display: block;
 height : auto;
}

figure {
 border-radius: $br;
 // padding-block: 2em 1em;

 img {
  border-radius: $br;
  box-shadow   : $bs;
  object-fit   : cover;
 }

 figcaption {
  color      : neutral(4);
  font-size  : var(--smallText);
  font-style : italic;
  font-weight: 300;
  text-align : center;
 }
}


// .hero+.wrapper main {
//  margin : 0;
//  padding: 0;
// }


/* Add styles to 'label' selector */

/* Add styles to 'input' and 'textarea' selectors */
input[type=text],
input[type=email],
textarea {
 width         : 100%;
 padding-block : calc($spacer / 2);
 padding-inline: $spacer;
 border        : $neutral-3 1px solid;
 border-radius : $br;
 font-size     : inherit;
 transition    : border 125ms ease, background-color 125ms ease;
}

/* Add styles to show 'focus' of selector */
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
 border          : 2px dashed color(accent);
 outline         : none;
 background-color: color(secondary-lighter);
}

// *[class*="title"] {
//  outline: dashed 1px red;
// }