/* Layout.scss */

.wrapper {
 display              : grid;
 grid-template-columns: minmax($spacer * 2, 1fr) minmax(auto, $max-wrapper-width) minmax($spacer * 2, 1fr);

 >* {
  grid-column: 2 / 3;
 }

 &-narrow {
  --max-wrapper-width  : 40rem;
  margin-inline        : auto;
  width                : min(100%, var(--max-wrapper-width));
  display              : grid;
  grid-template-columns: minmax($spacer, 1fr) minmax(auto, var(--max-wrapper-width)) minmax($spacer, 1fr);

  >* {
   grid-column: 2 / 3;
  }
 }

}

.recipeHeaderLayout {
 display              : grid;
 grid-template-columns: 1fr;
 gap                  : 3.75rem;

 @include mq(medium) {
  grid-template-columns: 1fr 350px;
 }
}

.recipeDirections__layout {
 display: grid;
 gap    : 1em;

 @include mq(medium) {
  grid-template-columns: .75fr 1fr;
  padding-inline       : 0;
 }
}

.element {
 margin-block: calc($spacer * 3);

 &__title {
  line-height: 1.1;
  font-weight: $fw-m;

  +p {
   margin-block-start: calc($spacer / 2);
  }
 }
}

// Two Column newspaper layout
.twoCol {
 columns     : 2;
 column-gap  : 3rem;
 column-width: 40ch;
}