// Gallery Element

.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
  gap: $spacer;

  .gallery-img{
   
    img {
      border-radius: $br;
      box-shadow   : $bs;
      height       : 250px;
      object-fit   : cover;
    }
  }
}