 // Contact Styles
 .contact-form {
  padding-block: $spacer;
  display              : grid;
  grid-template-columns: 1fr;
  gap                  : $spacer;

  @include mq(small) {
   grid-template-columns: repeat(2, 1fr);
  }
 }

 ::placeholder {
  color    : rgba(neutral(3), .85);
  font-size: 1.2rem;
 }

 .input-group {
  display    : flex;
  flex-flow  : column nowrap;
  gap        : calc($spacer * .25);
  align-items: baseline;
  label {
   font-size: var(--fs-400);
   font-weight: $fw-l;
   letter-spacing: $ls;

  }
 }

