#recipeCategoryPageElement {
 padding-block-end: 3em;

 .cards {
  display              : grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap                  : calc($spacer * 2);
 }

 .card {
  border-radius: $br;
  box-shadow   : $bs;
  padding      : calc($spacer /2);
  @include dc(neutral(1));
  display       : flex;
  flex-direction: column;
  gap           : $spacer;

  &__image {
   img {
    aspect-ratio: 3 / 2;
    object-fit  : cover;
   }
  }

  &__content {
   flex          : 1;
   display       : flex;
   flex-direction: column;
   gap           : $spacer;
  }

  &__title {
   text-wrap  : wrap;
   font-weight: $fw-n;
  }

  &__author {
   margin-block-start: auto; // keeps the author name at the bottom of the card
   color             : neutral(3);

   span {
    color      : neutral(4);
    font-weight: $fw-m;
   }

   .icon {
    color    : color(accent);
    font-size: .8rem;
   }

  }
 }
}