/* Default.scss  */

body {
 @include dc(neutral(1));
 font-family: $ff-sans;
 line-height: 1.6;
 display    : flex;
 flex-flow  : column nowrap;
 overflow-x : hidden;
}
::selection {
 @include dc(color(accent));
}
img {
 width  : 100%;
 display: block;
 height : auto;
}

figure {
 border-radius: $br;
 padding-block: 2em 1em;

 img {
  border-radius: $br;
  box-shadow   : $bs;
  object-fit   : cover;
 }

 figcaption {
  color      : neutral(4);
  font-size  : .8rem;
  font-style : italic;
  font-weight: 300;
  text-align : center;
 }
}


h1,
h2,
h3,
h4,
h5,
h6 {
 font-family   : $ff-sans;
 letter-spacing: $ls;
 text-transform: capitalize;
 font-weight: $fw-m;
}

h1 {
 font-size: var(--fs-700);
}

h2 {
 font-size: 2.25rem;
 font-size: clamp(1.5rem, 4vw, 2.25rem);
 font-size: var(--fs-600);
}

h3 {
 font-size: 1.75rem;
 font-size: clamp(1.25rem, 3vw, 1.5rem);
 font-size: var(--fs-500);

}

h4 {
 font-size: 1.5rem;
 font-size: var(--fs-400);

}

h5 {
 font-size: 1.25rem;
 font-size: var(--fs-300);

}

h6 {
 font-size: 1rem;
}

.hero+.wrapper main {
 margin : 0;
 padding: 0;
}

.text-danger {
 color: color(accent);
}

.span {
 grid-column: 1 / -1;
}

 /* Add styles to 'label' selector */

 /* Add styles to 'input' and 'textarea' selectors */
 input[type=text],
 input[type=email],
 textarea {
  width         : 100%;
  padding-block : calc($spacer / 2);
  padding-inline: $spacer;
  border: $neutral-2 1px solid;
  border-radius : $br;
  font-size     : inherit;
  transition    : border 125ms ease;
 }

 /* Add styles to show 'focus' of selector */
 input[type=text]:focus,
 input[type=email]:focus,
 textarea:focus {
  border : 2px dashed color(accent);
  outline: none;
 }