/* Default.scss  */

body {
 @include dc(neutral(1));
 font-family: $ff-sans;
 line-height: 1.6;
 display    : flex;
 flex-flow  : column nowrap;
 overflow-x : hidden;
}

img {
 width  : 100%;
 display: block;
 height : auto;
}

figure {
 border-radius: $br;
 padding-block: 2em 1em;

 img {
  border-radius: $br;
  box-shadow   : $bs;
  object-fit   : cover;
 }

 figcaption {
  color      : neutral(4);
  font-size  : .8rem;
  font-style : italic;
  font-weight: 300;
  text-align : center;
 }
}

.element {
 &__title {
  margin-block-end: $spacer;
  line-height     : 1.1;
  font-weight     : $fw-m;
 }
}

.element__title+p {
 margin-block-start: 1rem;
}

a {
 text-decoration: none;
 transition     : all 125ms ease;

 &:hover {
  color: color(accent);
 }
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family   : $ff-sans;
 letter-spacing: $ls;
 text-transform: capitalize;
}

h1 {
 font-size: 3rem;
 font-size: clamp(2.25rem, 4vw, 3rem);
 font-weight: $fw-b;
}

h2 {
 font-size: 2.25rem;
 font-size: clamp(1.5rem, 4vw, 2.25rem);
}

h3 {
 font-size: 1.75rem;
 font-size: clamp(1.25rem, 3vw, 1.5rem);

}

h4 {
 font-size: 1.5rem;

}

h5 {
 font-size: 1.25rem;

}

h6 {
 font-size: 1rem;
}

.hero+.wrapper main {
 margin : 0;
 padding: 0;
}

.element {
 margin-block: 1rem;


 &__title {
  margin-block: $spacer calc($spacer / 2);

 }
}

.text-danger {
 color: color(accent);
}

.span {
 grid-column: 1 / -1;
}