/* Layout.scss */

.container {
 margin-inline: auto;
 width        : min(100%, $max-container-width);

 display              : grid;
 grid-template-columns: minmax(1rem, 1fr) minmax(auto, $max-container-width) minmax(1rem, 1fr);


 >* {
  grid-column: 2 / 3;
 }

 &-narrow {
  --max-container-width: 45rem;
  margin-inline        : auto;
  width                : min(100%, var(--max-container-width));
  display              : grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, var(--max-container-width)) minmax(1rem, 1fr);

  >* {
   grid-column: 2 / 3;
  }
 }

}

.twoColLayout {
 display              : grid;
 grid-template-columns: 2fr 350px;
 gap                  : 1.5em;

 @include mq(large) {
  grid-template-columns: 1fr;
 }
}

.recipeHeaderLayout {
 display              : grid;
 grid-template-columns: 1fr;
 gap                  : 2em;

 @include mq(medium) {
  grid-template-columns: 1fr 350px;
 }
}

.recipeDirections__layout {
 display: grid;
 gap    : 1em;

 @include mq(medium) {
  grid-template-columns: .75fr 1fr;
  padding-inline       : 0;
 }
}