{# Element that creates a block of cards based on the default number of cards indicated in the element.setting. #}
<section class="recipeCards element flow">

<div class="recipeCards__header">
 
  {% if element.title %}
  <h2>{{ element.title }}</h2>
  {% endif %}

  <div class="recipeCards__more">
   {% if element.settings.recipePagination == "no" %}
   <a href="{{ baseUrl() }}/{{ element.settings.recipeOrder }}">See More</a>
   {% endif %}
  </div>
</div>

 {{ element.content }}

 <div class="cards">

  {% set recipes = getPublishedRankedCollectionPagesWithPagination(element.settings.recipeOrder, element.settings.recipeNumberOf) %}

  {% for recipe in recipes %}

  <a href="{{ getPathForPage(recipe.page_slug, recipe.collection_slug)}}" class="card" alt="{{ recipe.media.caption }}">


   <div class="card__image">
    {% if recipe.media.filename %}
    <img src="{{ getMediaPath(recipe.media.filename, 'thumb') }}">
    {% endif %}
   </div>


   <div class="card__content">

    <div class="card__category">{{recipe.collection_title}}</div>

    <div class="card__title cutoff-text">{{ recipe.title }}</div>

  <div class="card__author">
     <i class="icon fas fa-user"></i>
     by
     <span>{{ recipe.first_name }}</span>
    </div>

   </div>
  </a>
  {% endfor %}
 </div>


 {# Print pagination navigation #}
 {% if element.settings.recipePagination == "yes" %}
 {{ pagination() }}
 {% endif %}
</section>