/* footer.scss */ 
.footer {
 margin-block-start : auto;
 padding-block-start: 1em;
 background         : color(primary);
 @include dc(color(primary));
 font-size: .9rem;

 a {
  color     : neutral(1);
  transition: all 125ms ease;

  &:hover {
   color: color(accent);
  }
 }

 ul {
  list-style: none;
 }

 .footer1 {
  padding-block        : 2em;
  display              : grid;
  grid-template-columns: 1fr;
  gap                  : 2em;



  @include mq(small) {
   grid-template-columns: auto 1fr auto auto;
  }

  h5 {
   margin-block-end: 1em;
   font-size       : 1.2em;
  }

  .footer-social {
   .social-icon {
    padding-block : .25em;
    padding-inline: .5em;
   }
  }

  .footer-address {
   *+* {
    margin-block-start: 1em;
   }
  }

 }

 .footer2 {
  padding-block     : 1em;
  margin-block-start: 1em;
  background        : color(primary-dark);
  display           : flex;
  flex-flow         : column nowrap;
  justify-content   : center;
  align-items       : center;

  p {
   color      : neutral(1);
   margin     : 0;
   font-size  : .8em;
   font-weight: $fw-l;
  }
 }
}