// navigation

.nav {
 white-space: nowrap;
 @include dc(color(primary));
 text-align: center;

 display       : flex;
 flex-direction: column;

 position: absolute;
 top     : 100%;
 left    : 0;
 right   : 0;
 z-index : 9;

 transform       : scaleY($scale); //Set to zero for animation
 opacity         : $scale; //Set to zero for animation
 transition      : transform .2s ease, opacity 250ms ease-out;
 transform-origin: top;

 // @media screen and (min-width: $breakpoint) 
 @include mq(small) {
  flex-flow: row nowrap;

  transform: scaleY(1); // Scale set to 1 for desktop navigation
  opacity  : 1; // Opacity set to 1 for desktop navigation
  position : static; //Position static for desktop navigation
  width    : auto; //Width Auto to break subnav outside of parent
 }

 &-link {
  font-size: var(--fs-300);
  text-decoration: none;
  outline        : none;
  color          : inherit;
  text-transform : uppercase;
  padding-inline : 1em;
  padding-block  : 1em;
  letter-spacing : $ls;

  position  : relative;
  display   : block;
  transition: background-color 125ms;

  &:hover,
  &:focus {
   @include dc(color(accent));
  }
 }
}

// Static placeholder for navigation with sub menu. Uses the checkbox/label trick to toggle
.nav-link:has(>.toggle-label) {
 padding-block: 0;

 @media screen and (min-width: $breakpoint) {
  padding-block: 1em;
 }
}

.toggle-label {
 cursor            : pointer;
 font-size         : inherit;
 padding-inline-end: .5em;
 padding-block     : 1em;

 position: relative;

 display: block;


 &::after {
  content  : '\25bc';
  font-size: .8rem;
  position : relative;
  top      : -1px;
  right    : -10px;
 }

 @media screen and (min-width: $breakpoint) {
  display: inline;
 }
}

// subnav
.subnav {
 @include dc(color(accent-light));

 position: absolute;
 top     : 100%;
 left    : 0;
 right   : 0;
 z-index : 10;

 display        : grid;
 justify-content: center;
 text-align     : center;
 justify-content: stretch;

 transform       : scaleY($scale);
 opacity         : $scale;
 transition      : transform 125ms ease, opacity 125ms ease-out;
 transform-origin: top;

 @media screen and (min-width: $breakpoint) {
  right     : auto;
  box-shadow: 0 0px 25px rgba(black, .15);
 }

 &-link {
  text-decoration: none;
  width          : 100%;
  padding-inline : 1rem;
  line-height    : calc($nav-height /1.5);
  color          : neutral(5);
  font-weight    : 300;
  letter-spacing : $ls;

  transition: background-color 125ms;

  @media screen and (min-width: $breakpoint) {
   padding-inline: $spacer;

   display              : grid;
   grid-template-columns: auto 1fr;
   gap                  : 2em;
   align-items          : center;
   justify-content      : center;
  }

  &:hover,
  &:focus {
   @include dc(color(accent));
  }
 }
}