{# Search Results Element #}

{# Executes the site search and assigns results to a Twig variable.
The argument is the number of items to return per page. Leave variable blank to use config default.
#}
{% set results = getSearchResultsWithPagination() %}

<section class="element flow">
 {% if element.title %}
 <h2>{{ element.title }}</h2>
 {% endif %}
 {{ element.content }}

 <div class="collectionSummary">
  {% for p in results %}

  <a class="collectionSummary__card" href="{{ getPathForPage(p.page_slug, p.collection_slug) }}">

   {% if p.media.filename %}
   <div class="collectionSummary__image">
    <img src="{{ getMediaPath(p.media.filename, 'thumb') }}">
   </div>
   {% endif %}

   <div class="collectionSummary__content flow">

    <div class="collectionSummary__title">{{ p.title }}</div>

    {% if p.first_element_content %}
    <div class="collectionSummary__text cutoff-text">
     {{ p.first_element_content }}
    </div>
    {% endif %}

   </div>

  </a>
  {% else %}
  {# For when no search results are found #}
  <h3 class="collectionSummary__title">No search results found.</h3>

  {% endfor %}
 </div>

 {# Print pagination navigation #}
 {{ pagination() }}
</section>