// Neutral Pallette

$neutral-1 : hsl(0, 0%, 100%);
$neutral-2 : hsl(0, 0%, 94%);
$neutral-3 : rgb(153, 153, 153);
$neutral-4 : hsl(0, 0%, 40%);
$neutral-5 : hsl(0, 0%, 10%);



// Color Pallette
$clr-pink   : hsl(324, 51%, 50%);
$clr-blue   : hsl(210, 50%, 40%);
$clr-orange : hsl(24, 100%, 50%);
$clr-red    : hsl(354, 71%, 49%);
$clr-green  : hsl(154, 91%, 31%);

$clr-primary  : $clr-blue;
$clr-secondary: adjust-hue($clr-primary, -30);
$clr-accent   : $clr-red;

$clrs: (primary: $clr-primary,
 primary-dark: darken($clr-primary, 20%),
 primary-light: lighten($clr-primary, 10%),
 primary-lighter: lighten($clr-primary, 50%),
 secondary: $clr-secondary,
 secondary-dark: darken($clr-secondary, 20%),
 secondary-light: lighten($clr-secondary, 10%),
 secondary-lighter: lighten($clr-secondary, 60%),
 accent: $clr-accent,
 accent-dark: darken($clr-accent, 20%),
 accent-light: lighten($clr-accent, 10%),
 accent-lighter: lighten($clr-accent, 15%),
);

$neutrals: (1: $neutral-1,
 2: $neutral-2,
 3: $neutral-3,
 4: $neutral-4,
 5: $neutral-5,
);

$fill: #da2536;

// Default Variables

$nav-height        : 3.75em;
$scale             : 0; // Scales the navigation. valid #'s 0 -> 1. Zero value is collapsed.
$br                : 7px;
$bs                : 0 2px 15px rgba(neutral(5), .15);
$ds                : drop-shadow(0 0 1em rgba(neutral(5), .15));
$ls                : .15ex;
$max-wrapper-width : 75rem;
$spacer            : 1em;

// Font Family

$ff-sans : system-ui,
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen,
Ubuntu,
Cantarell,
'Open Sans',
'Helvetica Neue',
sans-serif;

// Font Weights
$fw-l : 300;
$fw-n : 400;
$fw-m : 600;
$fw-b : 700;


// Media Query Breakpoints
$breakpoints: (
 xs : 36rem, // 576px
 small      : 50rem, // 800px
 medium     : 62rem, // 991px
 big        : 75rem); // 1200px

$breakpoint: 991px;