// Neutral Pallette

$neutral-1 : hsl(0, 0%, 98%);
$neutral-2 : hsl(0, 0%, 94%);
$neutral-3 : rgb(153, 153, 153);
$neutral-4 : hsl(0, 0%, 40%);
$neutral-5 : hsl(0, 0%, 10%);



// Color Pallette

$clr-pink   : hsl(324, 51%, 50%);
$clr-blue   : hsl(210, 50%, 40%);
$clr-orange : rgb(255, 120, 31);
$clr-red    : hsl(354, 71%, 50%);
$clr-green  : hsl(154, 91%, 31%);

$clr-primary  : $neutral-2;
$clr-secondary: adjust-hue($clr-primary, -30);
$clr-accent   : $clr-red;

$clrs: (primary: $clr-primary,
 primary-dark: darken($clr-primary, 20%),
 primary-light: lighten($clr-primary, 10%),
 primary-lighter: lighten($clr-primary, 50%),
 secondary: $clr-secondary,
 secondary-dark: darken($clr-secondary, 20%),
 secondary-light: lighten($clr-secondary, 10%),
 secondary-lighter: lighten($clr-secondary, 60%),
 accent: $clr-accent,
 accent-dark: darken($clr-accent, 20%),
 accent-light: lighten($clr-accent, 10%),
 accent-lighter: lighten($clr-accent, 15%),
);

$neutrals: (1: $neutral-1,
 2: $neutral-2,
 3: $neutral-3,
 4: $neutral-4,
 5: $neutral-5,
);

// Default Variables

$nav-height            : 3.75em;
$scale                 : 0; // Scales the navigation. valid #'s 0 -> 1. Zero value is collapsed.
$br                    : 7px;
$bs                    : 0 0 15px -5px rgba(neutral(5), .15);
$ds                    : drop-shadow(0 0 1em rgba(neutral(5), .15));
$ls                    : 2px;
$ls                    : .15ex;
$max-container-width   : 1200px;
// $scroll-padding-top : 2rem;
$spacer                : 1em;

// Font Variables
@import url('https  ://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Lora:wght@600;700&display=swap');

$ff-sans-body     : 'Hind',
sans-serif;
$ff-sans-headings : 'Hind',
serif;
$ff-serif-headings: 'Lora', serif;
$ff-serif: 'Lora',
serif;

$fw-l : 300;
$fw-n : 400;
$fw-m : 600;
$fw-b : 700;


// Media Query Breakpoints
$breakpoints: (
 xs : 36rem, // 576px
 small      : 50rem, // 800px
 medium     : 62rem, // 991px
 big        : 75rem); // 1200px

 $breakpoint: 991px;