<nav id="navbar" class="navbar">

   <input type="checkbox" name="hamburger-toggle" id="hamburger-toggle" class="toggle">
   <label for="hamburger-toggle" class="toggle-label-hamburger"><span></span></label>

      <div class="nav">
        {% for navLink in getNavigator('main') %}

        {% if navLink.childNav %}
        {# This is the case for a parent with a child nav dropdown #}

        <div class="nav-link {% if navLink.currentPage %}active{% endif %}">

          <input type="checkbox" name="sub-nav-toggle{{loop.index}}" class="toggle" id="sub-nav-toggle{{loop.index}}">
          <label for="sub-nav-toggle{{loop.index}}" class="toggle-label">{{ navLink.title }}</label>

          <div class="subnav">
            {# Loop through children #}
            {% for child in navLink.childNav %}
          
              <a class="subnav-link" href="{{ getNavigationLink(child) }}">
               {{ child.title }}</a>
           
            {% endfor %}
          </div>

         </div>
        {% else %}
        <a href="{{ getNavigationLink(navLink) }}" class="nav-link {% if navLink.currentPage %}active{% endif %}">{{ navLink.title }}</a>
    
        {% endif %}

        {% endfor %}
      </div>
</nav>
