{# Find More Include into main recipe page. #}

<div class="sidebarFindMore">
 {# Prints out the collection that the recipe is part of. #}
 <a class="btn btn-findMore" href="{{ baseUrl() }}/{{page.collection_slug}}"
  title="View recipes for {{page.collection_slug}}">{{page.collection_slug}}</a>

 {% for cat in page.settings.subCategory|split(',') %}
  {% if page.collection_slug != cat %}
  <a class="btn btn-findMore" href="{{ baseUrl() }}/search?terms={{ cat }}"
   title="View recipes for {{ cat }}">{{ cat }}</a>
  {% endif %}
 {% endfor %}

</div>