{# Find More Include into main recipe page. #}

<div class="sidebarFindMore">
 {# Prints out the collection that the recipe is part of. #}
 <a class="btn btn-findMore" href="{{ baseUrl() }}/{{page.collection_slug}}"
  title="View recipes for {{page.collection_slug}}">{{page.collection_slug}}</a>

{# Prints out the sub categories that have been assigned to the recipe. If the sub category matches
 the collection title is should not print it. The logic needs to be added to make that happen. #}

 {% if page.settings.subCategory1 and page.collection_slug != page.settings.subCategory1 %}
 <a class="btn btn-findMore" href="{{ baseUrl() }}/search?terms={{page.settings.subCategory1}}"
  title="View recipes for {{page.settings.subCategory1}}">{{page.settings.subCategory1}}</a>
 {% endif %}

 {% if page.settings.subCategory2 and page.collection_slug != page.settings.subCategory2 %}
 <a class="btn btn-findMore" href="{{ baseUrl() }}/search?terms={{page.settings.subCategory2}}"
  title="View recipes for {{page.settings.subCategory2}}">{{page.settings.subCategory2}}</a>
 {% endif %}

 {% if page.settings.subCategory3 and page.collection_slug != page.settings.subCategory3 %}
 <a class="btn btn-findMore" href="{{ baseUrl() }}/search?terms={{page.settings.subCategory3}}"
  title="View recipes for {{page.settings.subCategory3}}">{{page.settings.subCategory3}}</a>
 {% endif %}

</div>