{% extends 'pages/_base_layout.html' %}

{% block hero %}
{{ getBlockElementsHtml(page.blocks.heroBlock) }}
{% endblock hero %}

{% block body %}
<div class="container">

 {{ getBlockElementsHtml(page.blocks.contentBlock) }}
 <h2 class="element-title span">Latest Recipes</h2>
 <div class="homePageCards">

  <!-- // recent random popular -->
  {% set foo = getPublishedRankedCollectionPages('recent', 4) %}
  {% for recipe in foo %}
  <div class="homePageCards__card">

   <a href="{{ getPathForPage(recipe.page_slug, recipe.collection_slug)}}">

    <div class="homePageCards__img">
     <img src="{{ getMediaPath(recipe.media.filename, 'thumb') }}" alt="{{ recipe.media.caption }}">
    </div>

    <div class="homePageCards__content">
     <div class="homePageCards__category">{{recipe.collection_title }}</div>
     <h4 class="homePageCards__title"><a href="#">{{recipe.title }}</a></h4>
     <div class="homePageCards__author"><i class="homePageCards__icon fas fa-user"></i> by <span>{{ recipe.author }}</span></div>
    </div>
   </a>
  </div>

  {% endfor %}


 </div>

 <h2 class="element-title">Popular Recipes</h2>
 <div class="homePageCards">

  <!-- // recent random popular -->
  {% set foo = getPublishedRankedCollectionPages('popular', 4) %}
  {% for recipe in foo %}
  <div class="homePageCards__card">

   <a href="{{ getPathForPage(recipe.page_slug, recipe.collection_slug)}}">

    <div class="homePageCards__img">
     <img src="{{ getMediaPath(recipe.media.filename, 'thumb') }}" alt="{{ recipe.media.caption }}">
    </div>

    <div class="homePageCards__content">
     <div class="homePageCards__category">{{recipe.collection_title }}</div>
     <h4 class="homePageCards__title"><a href="#">{{recipe.title }}</a></h4>
     <div class="homePageCards__author"><i class="homePageCards__icon fas fa-user"></i> by <span>{{ recipe.author }}</span></div>
    </div>
   </a>
  </div>

  {% endfor %}


 </div>
 <h2 class="element-title span">Random Recipes</h2>
 <div class="homePageCards">

  <!-- // recent random popular -->
  {% set foo = getPublishedRankedCollectionPages('random', 4) %}
  {% for recipe in foo %}
  <div class="homePageCards__card">

   <a href="{{ getPathForPage(recipe.page_slug, recipe.collection_slug)}}">

    <div class="homePageCards__img">
     <img src="{{ getMediaPath(recipe.media.filename, 'thumb') }}" alt="{{ recipe.media.caption }}">
    </div>

    <div class="homePageCards__content">
     <div class="homePageCards__category">{{recipe.collection_title }}</div>
     <h4 class="homePageCards__title"><a href="#">{{recipe.title }}</a></h4>
     <div class="homePageCards__author"><i class="homePageCards__icon fas fa-user"></i> by <span>{{ recipe.author }}</span></div>
    </div>
   </a>
  </div>
 
  {% endfor %}


 </div>
</div>
{% endblock body %}