{# Collection Element #}

{# Get the collection summary set. The second argument is the number of items to return per page #}


{% set collection = getCollectionPagesWithPagination(element.collection_id) %}

<section class="collectionSummarySection element flow">
  {% if element.title %}
 <h2>{{ element.title }}</h2>
 {% endif %}
 {{ element.content }}

 <div class="collectionSummary">
  {% for detail in collection %}

  <a class="collectionSummary__card" href="{{ getPathForPage(detail.page_slug, detail.collection_slug) }}">

   {% if detail.media.filename %}
   <div class="collectionSummary__image">
    <img src="{{ getMediaPath(detail.media.filename, 'thumb') }}">
   </div>
   {% endif %}

   <div class="collectionSummary__content">

    <h3 class="collectionSummary__title">{{ detail.title }}</h3>

    {% if detail.first_element_content %}
    <div class="collectionSummary__text cutoff-text">
     {{ detail.first_element_content }}
    </div>
    {% endif %}

   </div>

  </a>
  {% else %}
  {# For when no search results are found #}
  <h3 class="collectionSummary__title">No search results found.</h3>
  {% endfor %}
 </div>

 {# Print pagination navigation #}
 {{ pagination() }}
</section>