{# recipe Collection Landing Page Element #}

{# Get the collection summary set. The second argument is the number of items to return per page #}

{# {% set collection = getCollectionPagesWithPagination(element.collection_id, 18) %} #}

{% set collection = getCollectionPagesWithPagination(element.collection_id, 16) %}

<section id="recipeCategoryPageElement" class="element flow">

 {% if element.title %}
 <h2>{{ element.title }}</h2>
 {% endif %}

 {{ element.content }}

 <div class="cards">

  {% for detail in collection %}

  <a class="card" href="{{ getPathForPage(detail.page_slug, detail.collection_slug) }}" alt="{{ recipe.media.caption }}">

   <div class="card__image">
    {% if detail.media.filename %}
    <img src="{{ getMediaPath(detail.media.filename, 'thumb') }}">
    {% endif %}
   </div>
  

   <div class="card__content">
    <h3>{{ detail.title }}</h3>
    <div class="card__author">
     <i class="icon fas fa-user"></i>
     by
     <span>{{ detail.first_name }}</span>
    </div>
   </div>

  </a>
  {% else %}
  {# For when no search results are found #}
  <h3 class="collectionSummary__title">There are currently no recipes in this collection.</h3>
  {% endfor %}
 </div>

 {# Print pagination navigation #}
 {{ pagination() }}
</section>