// Neutral Pallette

$neutral-1 : hsl(0, 0%, 100%);
$neutral-2 : hsl(0, 0%, 95%);
$neutral-3 : hsl(0, 0%, 66%);
$neutral-4 : hsl(0, 0%, 40%);
$neutral-5 : hsl(0, 0%, 10%);

// Color Pallette
$clr-pink   : hsl(324, 51%, 50%);
$clr-blue   : hsl(210, 50%, 40%);
$clr-orange : hsl(24, 100%, 50%);
$clr-red    : hsl(355, 25%, 81%);
$clr-green  : hsl(154, 91%, 31%);

$clr-primary  : $clr-blue;

$clr-secondary: lighten($clr-primary, 40%);
$clr-accent   : lighten($clr-primary, 20%);

$clrs: (
 primary: $clr-primary,
 primary-dark: darken($clr-primary, 20%),
 primary-light: lighten($clr-primary, 10%),
 primary-lighter: lighten($clr-primary, 50%),
 secondary: $clr-secondary,
 secondary-dark: darken($clr-secondary, 20%),
 secondary-light: lighten($clr-secondary, 10%),
 secondary-lighter: lighten($clr-secondary, 60%),
 accent: $clr-accent,
 accent-dark: darken($clr-accent, 20%),
 accent-light: lighten($clr-accent, 10%),
 accent-lighter: lighten($clr-accent, 15%),
);

$neutrals: (
 1: $neutral-1,
 2: $neutral-2,
 3: $neutral-3,
 4: $neutral-4,
 5: $neutral-5,
);

// Default Variables

$nav-height        : 3.75em;
$scale             : 0; // Scales the navigation. valid #'s 0 -> 1. Zero value is collapsed.
$br                : 7px;
$bs                : 0 2px 15px rgba(neutral(5), .15);
$ds                : drop-shadow(0 0 1em rgba(neutral(5), .15));
$ls                : .05ex;
$max-wrapper-width : 1200px;
$spacer            : 1em;

// Fonts & Typography
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

$ff-serif:   "Playfair Display", serif;
$ff-sans : system-ui,
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen,
Ubuntu,
Cantarell,
'Open Sans',
'Helvetica Neue',
sans-serif;

// Font Weights
$fw-l : 300;
$fw-n : 400;
$fw-m : 600;
$fw-b : 700;


// Media Query Breakpoints
$breakpoints: (
 xs         : 36rem, // 576px
 small      : 52rem, // 831px
 medium     : 62rem, // 991px
 big        : 75rem  // 1200px
 );


:root {
// https://www.fluid-type-scale.com/calculate?minFontSize=14&minWidth=430&minRatio=1.2&maxFontSize=18&maxWidth=900&maxRatio=1.2&steps=sm%2Cbase%2Cmd%2Clg%2Cxl%2Cxxl%2Cxxxl&baseStep=base&prefix=fs&decimals=2&useRems=on&remValue=16&previewFont=Inter&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=1280

 --base-font: clamp(0.88rem, 0.85vw + 0.65rem, 1.13rem);
 --base-font-multiplier: 1.2;
 
 --h6: var(--base-font);
 --h5: calc(var(--base-font) * var(--base-font-multiplier));
 --h4: calc(var(--h5) * var(--base-font-multiplier));
 --h3: calc(var(--h4) * var(--base-font-multiplier));
 --h2: calc(var(--h3) * var(--base-font-multiplier));
 --h1: calc(var(--h2) * var(--base-font-multiplier));
 
 --largeText: calc(var(--h1) * var(--base-font-multiplier));
 --smallText: calc(var(--base-font) * .8);
}
