{% extends 'pages/_base_layout.html' %}

{% block body %}

{% embed 'embeds/_recipeLayout.html' %}

{% block recipeHeader %}

{% block mainContent %}
<div class="wrapper">
 <div class="recipeHeaderLayout">
  <div class="single-recipe">
   <div class="category-name">{{page.collection_title}}</div>

   <h1 class="recipe-title">{{ page.title }} <span class="visually-hidden">{{ site.settings.siteName|default('PitonCMS')}}</span></h1>

   <!-- FEATURE META BLOCK -->
   <div class="feature-recipe">
    <ul class="entry-meta">
     <li class="single-meta">
      <i class="entry-meta__icon fas fa-calendar-alt"></i> <span>{{ page.created_date | date("F d, Y")}}</span>
     </li>
     <li class="single-meta"><i class="entry-meta__icon fas fa-user"></i> by <span>{{ page.author }}</span></li>
     <li class="single-meta"><i class="entry-meta__icon fas fa-eye"></i><span> {{ page.view_count}}</span> Views</li>
     <li class="single-meta"><i class="entry-meta__icon fas fa-heart"></i><span> XX</span> Likes</li>
    </ul>
   </div>
   <!-- FEATURE RECIPE IMAGE -->
   <div class="recipe-figure">
    <img src="{{ getMediaPath(page.media.filename, 'large') }}" alt="{{ page.media.caption }}">
   </div>
   <div class="feature-details">
    {% if page.settings.prepTime %}
    <div class="feature-details__icon prep-time">
     <i class="fas fa-clock"></i>
     <div>
      <div class="feature-details__title">Prep Time</div>
      <div><span itemprop="prepTime" content="PT30M">{{page.settings.prepTime}}</span></div>
     </div>
    </div>
    {% endif %}
    {% if page.settings.ovenTemp %}
    <div class="feature-details__icon oven-temp">
     <i class="fas fa-temperature-three-quarters"></i>
     <div>
      <div class="feature-details__title">Oven Temp</div>
      <div class="feature-details__detail"><span itemprop="prepTime" content="PT30M">{{ page.settings.ovenTemp}}</span></div>
     </div>
    </div>
    {% endif %}
    {% if page.settings.cookTime %}
    <div class="feature-details__icon cook-time">
     <i class="fas fa-utensils"></i>
     <div>
      <div class="feature-details__title">Cook Time</div>
      <div class="feature-details__detail"><span itemprop="cookTime" content="PT20M">{{ page.settings.cookTime}}</span></div>
     </div>
    </div>
    {% endif %}
    {% if page.settings.servings %}
    <div class="feature-details__icon servings">
     <i class="fas fa-users"></i>
     <div>
      <div class="feature-details__title">Servings</div>
      <div class="feature-details__detail" itemprop="recipeYield">{{ page.settings.servings}}</div>
     </div>
    </div>
    {% endif %}

   </div>
   {% if page.blocks.storyBlock %}
   <div class="recipeStory">
    {{ getBlockElementsHtml(page.blocks.storyBlock) }}
   </div>
   {% endif %}
  </div>
  {% endblock mainContent %}

  {% block sideBar %}
  <!-- BEGIN SIDEBAR -->
  <div class="sidebar flow">

   <div class="sidebar__heading">
    <h2 class="sidebar__title">Latest Recipes</h2>
   </div>

   {{ include("includes/_recipeSidebarLatest.html") }}

 
    <div class="sidebar__heading">
     <h2 class="sidebar__title">Find More</h2>
    </div>

    {{ include("includes/_recipeSidebarFindMore.html") }}

   </div>

  {% endblock sideBar %}
 </div>
</div>
{% endblock recipeHeader %}

{% block recipeDirections %}
<!-- BEGIN RECIPE DIRECTIONS -->
<main>
 <div class="wrapper">
  <div class="recipeDirections__layout">
   {% if page.blocks.ingredientsBlock %}
   <div class="ingredients">
    <h2 class="recipeDirections__title">Ingredients</h2>
    {{ getBlockElementsHtml(page.blocks.ingredientsBlock) }}
   </div>
   {% endif %}

   {% if page.blocks.methodBlock %}
   <div class="method">
    <h2 class="recipeDirections__title">Method</h2>
    {{ getBlockElementsHtml(page.blocks.methodBlock) }}
   </div>
  </div>
  {% endif %}

  {% if page.blocks.notesBlock %}
  <div class="recipe-notes">
   {# <h2 class="recipeDirections__title">Notes</h2> #}
   {{ getBlockElementsHtml(page.blocks.notesBlock) }}
  </div>
  {% endif %}
 </div>
</main>
{% endblock recipeDirections %}

{% endembed %}
{% endblock body %}