.homePageCards {
 display              : grid;
 grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 gap                  : 1em;

 &__card {
  box-shadow: $bs;
  display   : grid;
  gap       : 1em;

 }

 &__img img {
  height: 200px;
  object-fit: cover;
 }

 &__content {
  padding: 1em;
  display: grid;
  gap    : .25em;
 }

 &__category {
  color         : color(accent);
  font-size     : .7rem;
  text-transform: uppercase;
  letter-spacing: $ls;
 }

 &__title {
  color      : neutral(5);
  font-family: $ff-sans-body;
  font-size  : 1.3rem;
 }

 &__author {
  color: neutral(3);

  & span {
   color      : neutral(5);
   font-weight: $fw-m;
  }
 }
&__icon {
 color: color(accent);
 font-size: .8rem;
}
}