{% extends '/pages/_base_layout.html' %}

{% block body %}

<main class="wrapper">

<section id="recipeCategoryPageElement" class="element flow">

<h2>{{ page.resultsCollectionOrCategoryName }}</h2>

 <div class="cards">

  {% for detail in page.results %}

  <a class="card" href="{{ getPathForPage(detail.page_slug, detail.collection_slug) }}">

 
   <div class="card__image">
    {% if detail.media.filename %}
    <img src="{{ getMediaPath(detail.media.filename, 'thumb') }}">
    {% endif %}
   </div>


   <div class="card__content">
    <div class="card__title cutoff-text">{{ detail.title }}</div>
    <div class="card__author">
     <i class="icon fas fa-user"></i>
     by
     <span>{{ detail.first_name }}</span>
    </div>
   </div>
  </a>
  {% else %}

  {# For when no recipes in this collection are found #}
  <h2>There are currently no recipes in this collection.</h2>
  {% endfor %}
 </div>

 {# Print pagination navigation #}
 {{ pagination() }}
</section>
</main>



{% endblock body %}