.single-recipe {
 &__meta {
  padding-inline-end: calc($spacer * 1);
 }
 .category-name {
  color         : color(accent);
  font-size     : var(--smallText);
  text-transform: uppercase;
  letter-spacing: $ls;
 }
 .entry-meta {
  color           : neutral(2);
  font-size       : var(--smallText);
  margin-bottom   : $spacer;
  margin-block-end: 0;
  line-height     : 1;

  &__icon {
   color: color(accent);
  }
 }
 .single-meta {
  color        : neutral(3);
  font-size    : var(--smallText);
  display      : inline-block;
  margin-right : .9rem;
  margin-bottom: .5rem;
  font-weight  : $fw-l;

  span {
   color      : neutral(4);
   font-weight: $fw-n;
  }
 }
 .recipe-figure {
  aspect-ratio: 16/9;
  min-height: 10px;
  background-color: color(secondary-light);

  img {
   aspect-ratio: inherit;
   object-fit  : cover;
   height: 100%;
  }
 }
}

// Feature Details 
.feature-details {
 margin-block-start: .3125em;
 display              : grid;
 grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
 gap                  : .625em;

 >* {
  color           : neutral(4);
  background-color: neutral(2);
  display         : flex;
  align-items     : center;
  justify-content : center;
  gap             : 1em;
  padding-block   : 1em;
 }

 &__title {
  text-transform: uppercase;
  font-weight   : 600;
  white-space   : nowrap;
  font-size     : var(--base-font);
 }

 &__subtitle {
  color      : neutral(3);
  line-height: 1.1;
 }
 & .fas {
  font-size: var(--h5);
  color    : neutral(3);
 }
}

// Sidebar Layout

.sidebar {
 display: none;

 @include mq(medium) {
  display: block;
 }

 &__heading {
  margin-block-start: calc($spacer * 3);
  border-bottom     : 1px solid neutral(2);
  position          : relative;

  &::before {
   content         : '';
   position        : absolute;
   bottom          : 0;
   width           : 15%;
   height          : 2px;
   background-color: $clr-accent;
  }
 }

 &__title {
  color         : neutral(4);
  margin-bottom : $spacer;
  font-family   : $ff-sans;
  font-size     : var(--h5);
  font-weight   : $fw-n;
  text-transform: uppercase;
  letter-spacing: $ls;
 }
}

// Recipe Direction Styles

.recipeDirections {

 &__layout {
  padding-block-end: $spacer;

  ul,
  ol {
   list-style          : none;
   position            : relative;
   padding-inline-start: 2em;
   padding-block-end   : 1em;

   & li+li {
    margin-block-start: .25em;
   }
  }

  li {
   line-height         : 1.3;
   letter-spacing      : .02ex;
   padding-inline-start: .25em;
   padding-block       : .25em;

   &:nth-child(odd) {
    background-color: neutral(2);
   }

  }

  ul li::before {
   content            : "\f35a"; // right arrow on <ul>
   font-family        : "Font Awesome 5 Free";
   font-weight        : 900;
   font-size          : var(--base-font);
   padding-block-start: 1px;
   color              : color(accent-light);

   position: absolute;
   left    : 5px;
  }

  ol li {
   counter-increment: steps;
   position         : relative;
   line-height      : 1.5;
   font-size        : var(--base-font);
  }

  ol li::before {
   content         : counter(steps);
   color           : neutral(1);
   background-color: color(accent-light);
   font-size       : var(--smallText);
   border-radius   : 50%;
   height          : 1.5em;
   width           : 1.5em;
   line-height     : 1.5em;
   text-align      : center;

   position : absolute;
   left     : -1.25em;
   top      : .1875rem;
   transform: translateX(-50%);
  }
 }
}

.ingredients,
.method {
 a {
  color: color(accent-dark);
 }

 h3,
 h4 {
  color              : neutral(5);
  font-family        : $ff-sans;
  border             : none;
  padding-block-start: .5em;
  text-transform     : capitalize;

  &:not(:first-child) {
   padding-block: .5em .25em;
  }
 }

 p {
  margin-inline: .25em;
  padding      : .5rem;
  line-height  : 1.4;
  font-size    : 1rem;
 }
}

.recipeStory {
 margin-block-start: $spacer;
 display           : block;
}

.recipe-notes {
 max-width: 75ch;
}